@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* --brand-color: #ED9902; */
    --brand-color: #1877F2;
    --text-color-main: #FFFFFF;
    --text-color-sub: #9B968B;
    /* --bg-color-dark: #1C1C1C; */
    --bg-color-dark: #363543;
    /* --bg-color-light: #2D2B29; */
    --bg-color-light: #282832;
    /* --footer-bg-color: #101010; */
    --footer-bg-color: #121212;
    --black: #000000;
    --icon-bg-light: #D9D9D9;

    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;

    --width: 86%;
    --mobile-width: 92%;
}

a{
    text-decoration: none;
    /* transition: all .50s ease; */
    transition: all 300ms ease;
}

body{
    background: var(--bg-color-dark);
    color: var(--text-color-main);
}

.bg-light{
    background-color: var(--bg-color-light);
}

.bg-dark{
    background-color: var(--bg-color-dark);
}

.bg-footer{
    background-color: var(--footer-bg-color);
}

section{
    /* padding: 70px 6% 70px; */
    /* height: 100vh; */

    padding: 4rem 7% 4rem 7%;

    max-width: 100vw;
    /* padding: 12rem 0 0; */

    
    position: relative;
    height: auto;
    width: 100%;
}

section .heading{
    /* font-size: 40px; */
    text-align: center;
    margin-bottom: 1rem;
}

section .heading-sub{
    text-align: center;
    color: var(--text-color-sub);
}

.container{
    width: var(--width);
    margin: 0 auto;
}


h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-color-main);
    line-height: 0.8;
}

h2{
    transition: all 0.4s ease;
    color: var(--text-color-main);
    text-decoration: none;
    font-weight: 500;
    /* margin-bottom: 1rem; */
}

h3{
    color: var(--text-color-main);
}

p{
    color: var(--text-color-sub);
}

img{
    width: 100%;
}

/* ####################### Button ####################### */
.btn{
    padding: 6px 12px;
    border-radius: 6px;
    border: solid 1px var(--brand-color);
    color: var(--bg-color-dark);
    transition: all .50s ease;
    cursor: pointer;
}

.nav-icons .btn{
    font-size: 14px;
}

.btn-brand{
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    transition: all .50s ease;
    cursor: pointer;
    color: var(--text-color-main);
}

.btn-brand:hover, .btn-home:hover{
    background-color: transparent;
    color: var(--brand-color);
}

.btn-home{
    display: inline-block;
    padding: 6px 20px;
    background-color: var(--brand-color);
    color: var(--bg-color-dark);
    font-size: 1.1rem;
    font-weight: 500;
    /* letter-spacing: 1px; */
    transition: all .50s ease;
    border-radius: 6px;
    border: solid 2px var(--brand-color);
    cursor: pointer;
    color: var(--text-color-main);
}

.btn-contact{
    width: 50%;
    padding: 6px 12px;
    border-radius: 6px;
    border: solid 1px var(--brand-color);
    color: var(--bg-color-dark);
    transition: all .50s ease;
    cursor: pointer;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* margin-top: 1rem; */
}
/* ####################### Button End ####################### */

/* ####################### Nav Bar Start #######################  */
nav{
    /* top: 0;
    left: 0; */
    width: 100vw;
    /* height: 5rem; */
    height: 3.5rem;
    display: grid;
    place-items: center;
    position: fixed !important;
    z-index: 100;
    background-color: var(--bg-color-dark);
}

.window-scroll{
    background-color: var(--footer-bg-color);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

/* #menu-icon, #menu-close{
    display: none;
} */

/* Video Close */
#menu-close{
    position: absolute;
    z-index: 100;
    right: 13%;
    cursor: pointer;
}

.menu-close{
    color: black;
    font-size: 1.8rem;
    text-align: right;
    justify-content: right;
    vertical-align: middle;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container ul{
    display: flex;
    gap: 2.5rem;
}

nav .container ul a{
    color: var(--text-color-sub);
    font-weight: 500;
    font-size: 14px;
}

/* nav .container ul a{
    padding: 0 0 0.3rem;
} */

nav .container ul a.active{
    color: var(--brand-color);
}

nav .container ul li a:hover{
    color: var(--brand-color);
}

/* nav .container a:hover{
    color: var(--brand-color);
} */

nav .container .logo img{
    width: 140px;
    vertical-align: middle;
    cursor: pointer;
}

/* New style */
.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 300ms;
}

.menu-icon div{
    display: block;
    background-color: var(--text-color-main) !important;
    height: 2px;
    width: 24px;
    transition: 300ms;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2{
    opacity: 0;
}

.move .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}

.scroll-top{
    position: fixed;
    bottom: -100%;
    right: 1.5rem;
    z-index: 100;
}

.scroll-top .bx{
    padding: 8px;
    font-size: 1.3rem;
    color: var(--text-color-main);
    background-color: var(--footer-bg-color);
    border-radius: 0.2rem;
}

.scroll-top .bx:hover{
    color: var(--brand-color);
    transition: 300ms ease;
}

.scroll-active{
    bottom: 2rem;
    transition: 300ms;
}

/* ####################### Nav Bar End #######################  */



/* ####################### Home Page Start #######################  */
header{
    height: 100vh;
    max-width: 100vw;
    position: relative;
    top: 2rem;
    display: grid;
    place-items: center;
}

header .home-page{
    width: 100vw;
    /* margin-top: 5rem; */
}

header .container{
    display: grid;
    grid-template-columns: 47rem auto;
    align-items: center;
    max-height: 100%;
    /* margin-top: -3rem; */
}

/* header .container .home-img{
    background-color: var(--bg-color-light);
    
    border-radius: 6px;
    width: 100%;
    justify-content: center;
    display: flex;
}
header .container .home-img img{
    width: 90%;
    height: auto;
    padding: 5% 0;
} */

header .container .home-text .slogan{
    /* background: var(--bg-color-light); */
    width: max-content;
    /* padding: 0.5rem 2rem; */
    /* border-radius: 8px; */
    color: var(--text-color-main);
    margin-bottom: 1.5rem;
}

header .container .home-text .slogan i{
    display: inline-block;
    margin-left: .5rem;
    vertical-align: middle;
}

header .container .home-text .cta{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

header .container .home-text .cta i{
    /* width: 3.6rem; */
    font-size: 40px;
    transition: all 300ms ease;
    /* color: var(--text-color-sub); */
}

header .container .home-text .cta a:last-child{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1.4rem;
    font-weight: 500;
    /* color: var(--text-color-sub); */
}

header .container .home-text .cta a:last-child:hover{
    color: var(--brand-color);
}





/* ==================== Home Text Animation ==================== */
.wrapper .words h4{
    /* font-size: 45px; */
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}


.wrapper{
    box-sizing: content-box;
    background-color: var(--bg-color-dark);
    height: 180px;
    /* padding: 50px 30px; */
    display: flex;
    border-radius: 8px;
    /* box-shadow: 0 20px 25px rgba(0,0,0,0.2); */
}

.words{
    overflow: hidden;
}

.words h4{
    display: block;
    height: 100%;
    /* padding-left: 10px; */
    color: var(--text-color-main);
    animation: spin_words 15s infinite;
}

@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}
/* ==================== Home Text Animation End ==================== */

/* ==================== Video Start ==================== */
/* section#commercial{
    background-color: var(--bg-color-dark);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    display: grid;
    place-items: center;
    display: none;
}

section#commercial .container{
    width: 74%;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

section#commercial .container video{
    width: 100%;
    border-radius: 8px;
} */
/* ==================== Video End ==================== */

/* ==================== Trusted Client Start ==================== */
/* .trusted-clients h4{
    color: var(--text-color-sub);
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.trusted-clients .clients{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trusted-clients{
    margin-top: 3rem;
    padding: 2rem 7% 2rem 7%;
    max-width: 100vw;
    width: 100vw;
    background-color: var(--footer-bg-color);
    height: 18rem;
} */
/* ==================== Trusted Client End ==================== */

/* ####################### Home Page End #######################  */



/* ####################### Our Expertise Start #######################  */
section.expertise .container{
    width: 100%;
}

.heading-info{
    margin-bottom: 2.5rem;
}

.all-boxes{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

.main-box{
    padding: 34px 24px;
    border-radius: 8px;
    text-align: center;

    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.main-box-bg-dark{
    background-color: var(--bg-color-dark);
}

.main-box-bg-light{
    background-color: var(--bg-color-light);
}

.iconbox{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    background-color: var(--black);
    margin-right: 18px;
    border-radius: 8px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
}

.iconbox img{
    height: 46px;
}

.main-box h2{
    transition: all 0.4s ease;
    color: var(--text-color-main);
    font-weight: 500;
    margin-bottom: 1rem;
}

.main-box p{
    color: var(--text-color-sub);
    /* margin-bottom: 1rem; */
}

.main-box a i{
    vertical-align: middle;
    margin-left: 9px;
    font-size: 18px;
    color: var(--brand-color);
}

.main-box .more{
    display: inline-block;
    color: var(--text-color-main);
    letter-spacing: 1px;
    transition: all .50s ease;
    margin-top: 1rem;
}

.main-box .more:hover{
    color: var(--brand-color);
}
/* ####################### Our Expertise End #######################  */


/* ####################### Image Slider - Our Recent Work  Start ####################### */
.main {
    /* height: 100vh; */
    height: 70vh;
    width: 100%;
    border-radius: 8px;
}
.wrapper-slider, .slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  /* height: 70vh; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.slide .image {
  height: 100%;
  /* height: 70vh; */
  width: 100%;
  object-fit: cover;
}
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.image-data h2 {
  /* font-size: 45px; */
  font-weight: 600;
  color: #fff;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  /* border-radius: 25px; */
  border-radius: 6px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff;
  background-color: #c87e4f;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}

/* .swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: var(--brand-color);
} */

.swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background-color: var(--text-color-main) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    width: 1.5rem !important;
    background-color: var(--brand-color) !important;
}

@media screen and (max-width: 768px) {
  .nav-btn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
}

/* ####################### Image Slider - Our Recent Work  End ####################### */


/* ####################### We Work With Great Minds Like You Start ####################### */
/* .great-mind .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
} */

.great-mind .container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

/* .great-mind .container .great-mind-img{
    background-color: var(--bg-color-light);
    border-radius: 8px;
    width: 100%;
    justify-content: center;
    display: flex;
}
.great-mind .container .great-mind-img img{
    width: 90%;
    height: auto;
    padding: 5% 0;
} */

.great-mind .container .great-mint-content .heading-info{
    margin-bottom: 2rem;
}

.great-mind .container .great-mint-content .heading-info h1{
    margin-bottom: 1rem;
}

.great-mind-icons{
    display: flex;
    /* justify-content: space-between; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    gap: .5rem;
}

.great-mint-content img{
    /* width: 150px; */
    background-color: var(--icon-bg-light);
    border-radius: 6px;
    padding: 10px 10px;
}

/* .great-mind-img  img{
    width: 500px;
    height: auto;
} */
/* ####################### We Work With Great Minds Like You End ####################### */



/* ####################### Customer Project and Customer Image Start #######################  */
.testimonials .container{
    width: 100%;
    background-color: var(--bg-color-dark);
    border-radius: 8px;
}

.testimonials .container .swiper{
    /* width: var(--width); */
    width: 100%;
    height: 100%;
    /* margin-top: 12rem; */
    /* background-color: var(--bg-color-dark); */
}

.testimonials .container .swiper-wrapper{
    width: var(--width);
    margin-bottom: 3rem;
}

/* .testimonials .container .swiper-slide{
    display: flex;
    align-items: center;
    gap: 5rem;
} */

.testimonials .container .swiper-slide{
    /* display: flex; */
    align-items: center;
    /* gap: 5rem; */

    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.testimonials .container .swiper-slide .details{
    width: 85%;
}

.testimonials .container .swiper-slide .details h4{
    color: var(--brand-color);
    font-size: 1rem;
    margin-top: 1.5rem;
}

.testimonials .container .swiper-slide .details h2{
    margin: 1rem 0;
}

.testimonials .container .swiper-slide .details p{
    margin-bottom: 1rem;
}

.testimonials .container .swiper-slide .details h5{
    columns: var(--text-color-sub);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1.6rem 0 0.4rem;
}

/* .testimonials .container .swiper .swiper-pagination-bullet{
    background: var(--brand-color);
} */
/* ####################### Customer Project and Customer Image End #######################  */




/* ####################### Get In Touch Start ####################### */
.contact .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
}

.contact .container .divider {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    height: 200px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.contact .container form .send button{
    font-size: 16px;
}

.contact .container form .send #my-form-status{
    text-align: center;
}

.contact .container .heading-info h1{
    margin-bottom: 1rem;
}

.contact .container form .form-control{
    background-color: transparent;
    color: var(--text-color-main);

    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);
    appearance: none;
    border-radius: .375rem;
}

.contact .container form .form-control:focus{
    box-shadow: none;
    border-color: var(--brand-color);
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-color-main);
    outline: 0;
}

.contact .container .border-bottom-small{
    margin-bottom: 1rem;
}

/* .btn-contact{
    width: 100%;
    padding: 6px 12px;
    border-radius: 6px;
    border: solid 1px var(--brand-color);
    color: var(--bg-color-dark);
    cursor: pointer;
    transition: all 300ms ease;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
} */

.contact .container .get-in-touch .address ul li{
    margin-bottom: 3rem;
}
/* ####################### Get In Touch End ####################### */



/* ####################### Frequantly Asked Questions Start ####################### */
.faqs .container{
    width: 100%;
}

.faqs .container h1{
    text-align: center;
    margin-bottom: 3rem;
}

.faqs .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faqs .content article{
    /* margin-bottom: 1rem; */
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    gap: 1.4rem;
    height: fit-content;
    background-color: var(--bg-color-dark);
    cursor: pointer;
}

.faqs .content article h4{
    font-weight: 600;
    /* font-size: 1rem; */
}

.faqs .content article i{
    color: var(--text-color-main);
    font-size: 1.2rem;
}

.faqs .content article p{
    margin-top: 1rem;
    display: none;
}

.faqs .content article.open p{
    display: block;
}

.faqs .content article.open p a{
    color: var(--text-color-main);
}
/* ####################### Frequantly Asked Questions End ####################### */




/* ####################### CTA Start ####################### */
.cta .container{
    /* background: var(--brand-color); */
    background-image: linear-gradient(120deg, #ED9902 0%, #fda085 100%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    border-radius: 8px;
    position: relative;
    height: 12rem;
}

.cta .container .info{
    width: 26rem;
}

.cta .container .info h3{
    margin-bottom: 1rem;
    color: var(--bg-color-dark);
}

.cta .container .info p{
    color: var(--bg-color-light);
}

.cta .container .image{
    width: 24rem;
    position: absolute;
    top: -4rem;
    right: 23%;
}

.cta .container .btn{
    border-color: var(--bg-color-dark);
    align-self: flex-end;

    color: var(--text-color-main);
    background-color: var(--bg-color-dark);
}

.cta .container .btn-brand:hover{
    color: var(--bg-color-dark);
    border-color: var(--bg-color-dark);
    /* background-color: var(--brand-color); */
    background-color: transparent;
}
/* ####################### CTA End ####################### */


/* ####################### Footer Start ####################### */
footer{
    background-color: var(--footer-bg-color);
    /* margin-top: 5rem; */
    padding-top: 3rem;
    /* font-size: 0.9rem; */
}

footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7rem;
    justify-content: space-between;
}

footer .container h4{
    margin-top: 1rem;
    columns: var(--text-color-main);
    margin-bottom: 1rem;
}

footer .container .f1 .logo img {
    margin-top: 0.6rem;
    width: 140px;
}

footer .container .f1 .logo{
    width: 15rem;
}

footer .container .f1 .logo small{
    display: grid;
    margin-top: -0.5rem;
    color: var(--brand-color);
}

/* footer .container ul li{
    margin-bottom: 0.5rem;
} */

footer .container ul li a{
    color: var(--text-color-sub);
}

footer .container ul li a:hover{
    color: var(--text-color-main);
    text-decoration: underline;
}

footer .container .socials{
    display: flex;
    gap: 1rem;
}

footer .container .socials img{
    transition: transform 300ms ease;
}

footer .container .socials img:hover{
    transform: scale(1.1);
}

footer .copyrights{
    margin-top: 2rem;
    background-color: var(--bg-color-dark);
    display: flex;
    justify-content: space-between;
    color: var(--text-color-sub);
    padding: 1rem 7% 1rem 7%;
    /* border-top: 1px solid var(--icon-bg-light); */
}
/* ####################### Footer End ####################### */












@media screen and (max-width: 1280px) {
    nav .container .logo{
        margin-left: 2rem;
    }

    .nav-icons{
        margin-right: 2rem;
    }

    nav .container{
        width: 100%;
    }

    header .container{
        grid-template-columns: 1.8fr 1fr;
        gap: 0;
        margin-top: 0;
    }

    header{
        top: 2.5rem;
    }

    header .home-page .container .home-text .wrapper{
        box-sizing: content-box;
        height: 230px;
        display: flex;
        border-radius: 8px;
    }

    header .home-page .container .home-text .wrapper .words h4{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .trusted-clients{
        height: 12rem;
    }

    .trusted-clients .clients{
        margin-top: 1.5rem;
    }

    .trusted-clients .clients .log-1{
        width: 6rem;
    }

    .all-boxes{
        gap: 1.5rem;
    }

    .main-box{
        padding: 24px 24px;
        border-radius: 8px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }

    .iconbox{
        width: 55px;
        height: 55px;
    }
    
    .iconbox img{
        height: 36px;
    }

    .great-mint-content img{
        width: 120px;
        height: 100%;
    }

    .great-mind .container .great-mint-content .heading-info{
        margin-bottom: 1rem;
    }

    .great-mind-icons{
        gap: 1rem;
    }

    .great-mind .heading-info h1{
        line-height: 1.2;
    }

    .contact h1{
        font-size: 1.9rem;
        /* line-height: 1.2; */
    }
}

@media screen and (max-width: 1150px) {
    nav .container .logo{
        margin-left: 2rem;
    }

    .nav-icons{
        margin-right: 2rem;
    }

    nav .container{
        width: 100%;
    }

    nav .container ul li a{
        font-size: 14px;
    }

    nav .container ul{
        gap: 1.8rem;
    }
}




/* ####################### MEDIA QUERIES (TABLETS) ####################### */
@media screen and (max-width: 1024px) {
    h1{
        font-size: 1.7rem;
        letter-spacing: 1px;
    }

    h2{
        /* font-size: 2.7rem; */
        font-size: 1.2rem;
        letter-spacing: -1px;
    }

    h3{
        font-size: 1.1rem;
    }

    h4{
        font-size: 1.2rem;
    }

    h5{
        font-size: 0.9rem;
    }

    p{
        line-height: 1.6rem;
        font-size: 0.9rem;
    }

    .container{
        width: var(--mobile-width);
    }

    section{
        overflow-x: hidden;
    }

    /* ################### Nav Bar ################### */
    nav .container{
        width: 100%;
    }

    nav .container .logo{
        margin-left: 2rem;
    }

    .nav-icons{
        margin-right: 0rem;
    }
    
    /* New Style */
    .menu-icon{
        display: flex;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    

    .navbar{
        position: absolute;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: var(--footer-bg-color);
        flex-direction: column;
        align-items: center;
        padding: 80px 20px;
        transition: 500ms all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .open-menu{
        right: 0;
        transition: 500ms all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    nav .container ul li a{
        display: block;
        width: 100%;
        /* padding: 0 0 1rem 2rem; */
    }

    .nav-icons{
        display: flex;
    }

    /* button */
    .nav-icons .btn-brand{
        background-color: transparent;
        color: var(--brand-color);
    }

    .nav-icons .btn-brand:hover{
        background-color: var(--brand-color);
        border-color: var(--brand-color);
        transition: all .50s ease;
        cursor: pointer;
        color: var(--black);
    }


    /* nav .container ul{
        position: fixed;
        top: 5rem;
        left: 0;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        background-color: var(--bg-color-dark);
        box-shadow: 1rem 0 2rem rgba(0, 0, 0, 0.2);
        z-index: 3;
        display: none;
    } */

    /* nav .container ul li{
        padding-top: 2rem;
        height: 3rem;
        display: flex;
        align-items: center;
    } */

    /* nav .container ul li a{
        width: 100%;
        padding: 0 0 1rem 2rem;
    } */

    nav .container ul li a:hover{
        padding-left: 3rem;
    }

    /* nav #menu-icon{
        display: inline-block;
        cursor: pointer;
        background: transparent;
        color: var(--text-color-main);
        margin-right: 2rem;
        font-size: 2.5rem;
        margin-left: 2rem;
        vertical-align: middle;
    } */

    /* nav #menu-close{ */
        /* display: inline-block; */
        /* cursor: pointer;
        background: transparent;
        color: var(--text-color-main);
        margin-right: 2rem;
        margin-left: 2rem;
        font-size: 2.5rem;
        vertical-align: middle;
    } */

    /* nav #menu-close{
        display: none;
    } */


    /* ################### Header ################### */
    header{
        top: 5rem;
        /* height: 100vh; */
        /* height: 100%; */
    }

    header .container{
        /* grid-template-columns: 1.8fr 0.5fr; */
        grid-template-columns: 1.8fr 1fr;
        gap: 0;
        margin-top: 0;
    }


    /* ################### Home Page Text Scrolling ################### */
    header .home-page .container .home-text .wrapper{
        box-sizing: content-box;
        /* background-color: var(--bg-color-dark); */
        /* background-color: red; */
        height: 250px;
        /* padding: 50px 30px; */
        display: flex;
        border-radius: 8px;
        /* box-shadow: 0 20px 25px rgba(0,0,0,0.2); */
    }

    header .home-page .container .home-text .wrapper .words h4{
        /* font-size: 45px; */
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .trusted-clients{
        margin-top: 4rem;
        height: 14rem;
    }

    .trusted-clients .clients{
        margin-top: 1.5rem;
    }

    .trusted-clients .clients .log-1{
        /* background-color: red; */
        width: 6rem;
    }


    /* ################### Our Expertise ################### */
    /* section.expertise .container{
        width: var(--mobile-width);
    } */

    .all-boxes{
        gap: 1.5rem;
    }

    .main-box{
        padding: 24px 24px;
        border-radius: 8px;
        text-align: center;
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }

    .iconbox{
        width: 55px;
        height: 55px;
    }
    
    .iconbox img{
        height: 36px;
    }

    /* ####################### Our Recent Works ####################### */
    .main {
        height: 60vh;
    }

    /* ####################### We Work With Great Minds Like You ####################### */
    .great-mint-content img{
        width: 120px;
        height: 100%;
    }

    .great-mind .container .great-mint-content .heading-info{
        margin-bottom: 1rem;
    }

    .great-mind-icons{
        gap: 1rem;
    }

    /* ####################### Frequantly Asked Questions ####################### */
    section#faqs .content{
        grid-template-columns: 1fr;
    }

    section#faqs .content article{
        padding: 1.5rem;
    }

    /* ####################### CTA ####################### */
    section#cta .container{
        padding: 4rem 2rem;
    }

    section#cta .info{
        width: 56%;
        align-self: flex-start;
    }

    section#cta .container .image{
        position: absolute;
        right: 5rem;
    }

    section#cta .container .btn{
        z-index: 1;
    }

    /* ####################### Footer ####################### */
    footer .container{
        /* grid-template-columns: 1fr 1fr; */
        gap: 3rem;
    }

    footer .container .f4 .socials{
        gap: 0.5rem;
        width: 70%;
        display: inline-flex;
    }

    footer .container .f4 .socials img{
        width: 100%;
    }

    footer .copyrights{
        padding: 1rem 4% 1rem 4%;
    }
}



/* @media screen and (max-height: 1366px) {
    header{
        top: 5rem;
        height: 100vh;
    }

    .trusted-clients .clients{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
    }
    
    .trusted-clients{
        margin-top: 3rem;
        padding: 2rem 7% 2rem 7%;
        max-width: 100vw;
        width: 100vw;
        height: 100vh;
        background-color: var(--footer-bg-color);
    }
} */



/* ####################### MEDIA QUERIES (Mobile) ####################### */
@media screen and (max-width: 600px) {
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.6rem;
    }

    h4{
        font-size: 0.96rem;
    }

    h5{
        font-size: 0.7rem;
    }

    p{
        font-size: 1rem;
    }

    section{
        padding-top: 8rem;
    }



    /* ####################### Nav Bar ####################### */
    /* nav .container #menu-icon{
        gap: 1rem;
    } */

    

    /* ####################### Header ####################### */
    header{
        top: 1rem;
    }

    header .container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    header .container .home-text .slogan{
        margin: 0 auto 1.5rem auto;
    }

    /* .wrapper .words h4{
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 10px;
    } */

    header .container .cta{
        margin-bottom: 1rem;
        justify-content: center;
    }

    .btn-home{
        /* padding: 6px 12px; */
        padding: 6px 12px;
        font-size: 1rem;
    }

    header .container .home-img{
        /* grid-row: 1; */
        width: 60vw;
        margin: 2rem auto 0 auto;
    }

    .trusted-clients{
        margin-top: 2rem;
        height: auto;
        padding: 1rem 7% 1rem 7%;
    }

    .trusted-clients .clients{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .trusted-clients .clients .log-1{
        width: 3.5rem;
    }

    header .home-page .container .home-text .wrapper{
        height: 210px;
        border-radius: 8px;
    }

    /* ####################### video ####################### */
    section#commercial .container{
        width: var(--mobile-width);
        margin: 0 auto;
    }

    #menu-close{
        right: 4% !important;
    }

    /* ####################### Our Expertise ####################### */
    section.expertise{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .all-boxes{
        grid-template-columns: 1fr;
    }

    .main-box{
        padding: 24px 24px;
        border-radius: 8px;
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }

    .iconbox{
        width: 55px;
        height: 55px;
    }
    
    .iconbox img{
        height: 36px;
    }

    /* ####################### Why Choose Us ####################### */
    section.why-choose-us{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    /* ####################### Why Choose Us ####################### */
    section.works{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    /* ####################### We Work With Great Minds Like You ####################### */
    section.great-mind{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    section.great-mind .container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    section.great-mind .container .great-mint-content .heading-info h1{
        font-size: 1.7rem;
    }

    section.great-mind .container .great-mint-content .great-mind-icons {
        justify-content: center;
    }

    .great-mint-content img{
        width: 80px;
        height: 100%;
    }

    section.great-mind .container .great-mind-img{
        width: 60vw;
        margin: 2rem auto 0 auto;
    }

    /* ####################### Customer Project and Customer Image ####################### */
    section.testimonials{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .testimonials .container .swiper-slide{
        align-items: center;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .testimonials .container .swiper-slide .details{
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .testimonials .container .swiper-slide .image{
        width: 60vw;
        margin: 1rem auto 0 auto;
    }

    .testimonials .container .swiper-slide .details h2{
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }

    .testimonials .container .swiper-slide .details p{
        margin-bottom: 0.5rem;
    }

    /* .testimonials .container .swiper-slide .details h5{
        margin: 1.6rem 0 0.4rem;
    } */

    /* ####################### Get In Touch ####################### */
    section.contact{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .contact .container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .contact .container .divider{
        display: none;
    }

    .btn-contact{
        position: relative;
        left: 0%;
        transform: translateX(0%);
        width: 100%;
    }

    .contact .container .get-in-touch .heading-info{
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .contact .container .get-in-touch .address ul li{
        margin-top: 1rem;
        margin-bottom: 0;
    }

    /* ####################### Frequantly Asked Questions ####################### */
    section#faqs{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    /* ####################### CTA ####################### */
    section#cta{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    section#cta .container{
        flex-direction: column;
        height: fit-content;
        padding: 2rem;
    }

    section#cta .container .info{
        width: 100%;
    }

    section#cta .container .info h3{
        font-size: 2.3rem;
    }

    section#cta .container .info p{
        font-size: 1rem;
    }

    section#cta .container .image{
        position: relative;
        top: 3rem;
        right: 30%;
    }

    /* ####################### Footer Start ####################### */
    footer .container{
        /* grid-template-columns: 1fr 1fr; */
        grid-template-columns: 1fr;
        gap: 1.5rem;
        text-align: center;
    }

    footer .container h4{
        margin-top: 0rem;
        columns: var(--text-color-main);
        margin-bottom: 0.3rem;
    }

    footer .container ul a{
        font-size: 0.9rem;
    }

    footer .container .logo{
        margin: 0 auto;
    }

    footer .socials{
        justify-content: center;
    }

    footer .copyrights{
        flex-direction: column;
        text-align: center;
    }

    footer .container .f4 .socials {
        width: 50%;
    }
}




@media screen and (max-width: 500px) {
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.4rem;
    }

    h3{
        font-size: 1.6rem;
    }

    h4{
        font-size: 0.96rem;
    }

    h5{
        font-size: 0.7rem;
    }

    p{
        font-size: 1rem;
    }

    /* ####################### Nav Bar ####################### */
    nav .container .logo img {
        width: 150px;
    }
    
    .nav-icons .btn{
        font-size: 0.7rem;
    }

    .menu-icon {
        margin-left: 0.7rem;
    }

    /* ####################### Home Page ####################### */
    header .container .home-text .slogan {
        margin: 0 0 1.5rem 0;
        width: 100%;
    }

    header .home-page .container .home-text{
        width: 100%;
        overflow: hidden;
    }

    header .home-page .container .home-text .wrapper{
        width: 100%;
        height: 170px;
    }

    header .home-page .container .home-text .wrapper .words h4 {
        font-size: 27px;
        width: 100%;
        overflow: hidden;
    }

    .btn-home {
        padding: 6px 12px;
        font-size: 0.9rem;
    }

    header .container .home-img {
        margin: 1rem auto 0 auto;
    }

    .trusted-clients {
        margin-top: 1rem;
    }

    .trusted-clients .clients {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }
    .trusted-clients .clients .log-1 {
        width: 2.8rem;
    }

    .trusted-clients h4 {
        font-size: 0.8rem;
    }

    .heading-info {
        margin-bottom: 2rem;
    }

    .main-box h2 {
        margin-bottom: 0.5rem;
    }

    .iconbox {
        margin-bottom: 0.5rem;
    }

    .main-box .more {
        margin-top: 0.5rem;
    }

    .main {
        height: 50vh;
    }

    .heading-info h1 {
        font-size: 2rem;
        line-height: 1.3;
    }

    .great-mind .container {
        gap: 0.5rem;
    }

    .testimonials .container .swiper-slide .details h4 {
        margin-top: 0.5rem;
    }

    .testimonials .container .swiper-slide .details h2 {
        font-size: 1rem;
    }

    .testimonials .container .swiper-slide .details h5 {
        margin: 1rem 0 0.4rem;
    }

    .testimonials .container .swiper-slide .details h5 {
        margin: 1rem 0 0rem;
    }

    .faqs .container h1 {
        margin-bottom: 1rem;
    }

    section#cta .container .info h3 {
        font-size: 1.4rem;
    }

    .cta .container .info h3 {
        margin-bottom: 0.5rem;
    }

    section#cta .container .image {
        top: 2.8rem;
        right: 18%;
    }

    .scroll-active {
        bottom: 1rem;
    }

    .scroll-top {
        right: 1rem;
    }

    .scroll-top .bx {
        padding: 5px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 420px) {
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.4rem;
    }

    h3{
        font-size: 1.6rem;
    }

    h4{
        font-size: 0.96rem;
    }

    h5{
        font-size: 0.7rem;
    }

    p{
        font-size: 1rem;
    }

    /* ####################### Nav Bar ####################### */
    nav .container .logo img {
        width: 150px;
    }
    
    .nav-icons .btn{
        font-size: 0.7rem;
    }

    .menu-icon {
        margin-left: 0.7rem;
    }

    /* ####################### Home Page ####################### */
    header .container .home-text .slogan {
        margin: 0 0 1.5rem 0;
        width: 100%;
    }

    header .home-page .container .home-text{
        width: 100%;
        overflow: hidden;
    }

    header .home-page .container .home-text .wrapper{
        width: 100%;
        height: 170px;
    }

    header .home-page .container .home-text .wrapper .words h4 {
        font-size: 27px;
        width: 100%;
        overflow: hidden;
    }

    .btn-home {
        padding: 6px 12px;
        font-size: 0.9rem;
    }

    header .container .home-img {
        margin: 1rem auto 0 auto;
    }

    .trusted-clients {
        margin-top: 1rem;
    }

    .trusted-clients .clients {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }
    .trusted-clients .clients .log-1 {
        width: 2.8rem;
    }

    .trusted-clients h4 {
        font-size: 0.8rem;
    }

    .heading-info {
        margin-bottom: 2rem;
    }

    .main-box h2 {
        margin-bottom: 0.5rem;
    }

    .iconbox {
        margin-bottom: 0.5rem;
    }

    .main-box .more {
        margin-top: 0.5rem;
    }

    .main {
        height: 50vh;
    }

    .heading-info h1 {
        font-size: 2rem;
        line-height: 1.3;
    }

    .great-mind .container {
        gap: 0.5rem;
    }

    .testimonials .container .swiper-slide .details h4 {
        margin-top: 0.5rem;
    }

    .testimonials .container .swiper-slide .details h2 {
        font-size: 1rem;
    }

    .testimonials .container .swiper-slide .details h5 {
        margin: 1rem 0 0.4rem;
    }

    .testimonials .container .swiper-slide .details h5 {
        margin: 1rem 0 0rem;
    }

    .faqs .container h1 {
        margin-bottom: 1rem;
    }

    section#cta .container .info h3 {
        font-size: 1.4rem;
    }

    .cta .container .info h3 {
        margin-bottom: 0.5rem;
    }

    section#cta .container .image {
        top: 2.8rem;
        right: 18%;
    }

    .scroll-active {
        bottom: 1rem;
    }

    .scroll-top {
        right: 1rem;
    }

    .scroll-top .bx {
        padding: 5px;
        font-size: 1rem;
    }

    /* footer .container .f4 .socials img {
        width: 80%;
    } */
}

@media screen and (max-width: 400px) {
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.4rem;
    }

    h3{
        font-size: 1.6rem;
    }

    h4{
        font-size: 0.96rem;
    }

    h5{
        font-size: 0.7rem;
    }

    p{
        font-size: 1rem;
    }

    /* ####################### Nav Bar ####################### */
    nav .container .logo img {
        width: 150px;
    }
    
    .nav-icons .btn{
        font-size: 0.7rem;
    }

    .menu-icon {
        margin-left: 0.7rem;
    }

    /* ####################### Home Page ####################### */
    header .container .home-text .slogan {
        margin: 0 0 1.5rem 0;
        width: 100%;
    }

    header .container .home-text .slogan small {
        font-size: 0.8rem;
    }

    header .home-page .container .home-text{
        width: 100%;
        overflow: hidden;
    }

    header .home-page .container .home-text .wrapper{
        width: 100%;
        height: 170px;
    }

    header .home-page .container .home-text .wrapper .words h4 {
        font-size: 25px;
        width: 100%;
        overflow: hidden;
    }

    .btn-home {
        padding: 6px 12px;
        font-size: 0.9rem;
    }

    header .container .home-img {
        margin: 1rem auto 0 auto;
    }

    .trusted-clients {
        margin-top: 1rem;
    }

    .trusted-clients .clients {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }
    .trusted-clients .clients .log-1 {
        width: 2.8rem;
    }

    .trusted-clients h4 {
        font-size: 0.8rem;
    }

    .heading-info {
        margin-bottom: 2rem;
    }

    .main-box h2 {
        margin-bottom: 0.5rem;
    }

    .iconbox {
        margin-bottom: 0.5rem;
    }

    .main-box .more {
        margin-top: 0.5rem;
    }

    .main {
        height: 50vh;
    }

    .heading-info h1 {
        font-size: 2rem;
        line-height: 1.3;
    }

    .great-mind .container {
        gap: 0.5rem;
    }

    .testimonials .container .swiper-slide .details h4 {
        margin-top: 0.5rem;
    }

    .testimonials .container .swiper-slide .details h2 {
        font-size: 1rem;
    }

    .testimonials .container .swiper-slide .details h5 {
        margin: 1rem 0 0.4rem;
    }

    .testimonials .container .swiper-slide .details h5 {
        margin: 1rem 0 0rem;
    }

    .faqs .container h1 {
        margin-bottom: 1rem;
    }

    section#cta .container .info h3 {
        font-size: 1.4rem;
    }

    .cta .container .info h3 {
        margin-bottom: 0.5rem;
    }

    section#cta .container .image {
        top: 2.8rem;
        right: 18%;
    }

    .scroll-active {
        bottom: 1rem;
    }

    .scroll-top {
        right: 1rem;
    }

    .scroll-top .bx {
        padding: 5px;
        font-size: 1rem;
    }

    /* footer .container .f4 .socials img {
        width: 80%;
    } */
}

@media screen and (max-width: 380px) {
    h1{
        font-size: 1.83rem !important;
    }

    h2 {
        font-size: 1.4rem !important;
      }

    nav .container .logo img {
        width: 145px;
    }

    .menu-icon {
        margin-left: 0.5rem;
    }

    header .home-page .container .home-text .wrapper .words h4 {
        font-size: 24px;
    }

    .nav-icons .btn {
        font-size: 11px;
    }

    header .container .home-text .slogan small {
        font-size: 0.7rem;
    }

    header .container .home-text .slogan {
        width: 100%;
    }

    .btn-home {
        font-size: 0.9rem;
    }

    .testimonials .container .swiper-slide .details h2 {
        font-size: 1rem !important;
    }

    header .container .home-text .cta a:last-child {
        margin-left: 0.5rem;
    }

    header .container .home-text .cta a:last-child {
        gap: 0.4rem;
    }

    section#cta .container {
        padding: 1rem;
      }

    section#cta .container .image {
      top: 2.9rem;
      right: 7%;
    }
    section#cta .container .image img {
        width: 80%;
    }

    /* footer .container .f4 .socials img {
        width: 80%;
    } */
}

@media screen and (max-width: 360px) {
    h1{
        font-size: 1.73rem !important;
    }

    h2 {
        font-size: 1.3rem !important;
      }

    nav .container .logo img {
        width: 125px;
    }

    .menu-icon {
        margin-left: 0.5rem;
    }

    header .home-page .container .home-text .wrapper .words h4 {
        font-size: 24px;
    }

    .nav-icons .btn {
        font-size: 11px;
    }

    header .container .home-text .slogan small {
        font-size: 0.7rem;
    }

    header .container .home-text .slogan {
        width: 100%;
    }

    .btn-home {
        font-size: 0.9rem;
    }

    header .container .home-text .cta a:last-child {
        margin-left: 0.5rem;
    }

    header .container .home-text .cta a:last-child {
        gap: 0.4rem;
    }

    section#cta .container {
        padding: 1rem;
      }

    section#cta .container .image {
      top: 2.9rem;
      right: 7%;
    }
    section#cta .container .image img {
        width: 80%;
    }

    /* footer .container .f4 .socials img {
        width: 80%;
    } */
}

@media screen and (max-width: 340px) {
    h1{
        font-size: 1.62rem !important;
    }

    h2 {
        font-size: 1.2rem !important;
      }

    nav .container .logo img {
        width: 110px;
    }

    .menu-icon {
        margin-left: 0.5rem;
    }

    header .home-page .container .home-text .wrapper .words h4 {
        font-size: 24px;
    }

    .nav-icons .btn {
        font-size: 9px;
    }

    header .container .home-text .slogan small {
        font-size: 0.6rem;
    }

    header .container .home-text .slogan {
        width: 100%;
    }

    .btn-home {
        font-size: 0.8rem;
    }

    header .container .home-text .cta a:last-child {
        margin-left: 0.5rem;
    }

    header .container .home-text .cta a:last-child {
        gap: 0.4rem;
    }

    section#cta .container {
        padding: 1rem;
      }

    section#cta .container .image {
      top: 2.9rem;
      right: -2%;
    }
    section#cta .container .image img {
        width: 70%;
    }
}

@media screen and (max-width: 320px){
    h1{
        font-size: 1.6rem !important;
    }

    h2 {
        font-size: 1.2rem !important;
      }

    nav .container .logo img {
        width: 110px;
    }

    .menu-icon {
        margin-left: 0.5rem;
    }

    nav {
        height: 3rem;
    }

    .nav-icons .btn {
        font-size: 9px;
    }

    header .home-page .container .home-text .wrapper .words h4 {
        font-size: 24px;
    }

    header .container .home-text .slogan small {
        font-size: 0.6rem;
    }

    header .container .home-text .slogan {
        width: 100%;
    }

    .btn-home {
        font-size: 0.8rem;
    }

    header .container .home-text .cta a:last-child {
        margin-left: 0.5rem;
    }

    header .container .home-text .cta a:last-child {
        gap: 0.4rem;
    }

    section#cta .container {
        padding: 1rem;
      }

    section#cta .container .image {
      top: -0.5rem;
      right: -2%;
    }
    section#cta .container .image img {
        width: 70%;
      }

}

@media screen and (max-width: 300px) {
    h1{
        font-size: 1.8rem;
    }

    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.6rem;
    }

    h4{
        font-size: 0.96rem;
    }

    h5{
        font-size: 0.7rem;
    }

    p{
        font-size: 1rem;
    }

    nav .container .logo {
        margin-left: 1rem;
    }

    .nav-icons .btn {
        display: none;
    }

    .menu-icon {
        margin-right: 1rem;
    }

    header .container .home-text .slogan {
        width: 100%;
    }

    header .home-page .container .home-text .wrapper .words h4 {
        font-size: 20px;
    }

    header .home-page .container .home-text .wrapper {
        height: 140px;
    }

    header .container .home-text .cta {
        flex-direction: column;
        gap: 1rem;
    }

    header .container .home-text .cta a:last-child {
        margin-left: 0rem;
    }

    .trusted-clients .clients .log-1 {
        width: 2.3rem;
    }

    .heading-info h1 {
        font-size: 1.8rem;
        line-height: 1.3;
    }

    section.great-mind .container .great-mint-content .heading-info h1 {
        font-size: 1.5rem;
    }

    .great-mint-content img {
      width: 70px;
      
    }

    section#cta .container .image {
        top: -0.7rem;
        right: 10%;
    }
}






/*#################################### Sub NavBar ####################################*/
nav .container .navbar li .arrow{
    font-size: 22px;
    text-align: center;
    display: inline-block;
    color: var(--text-color-sub);
    transition: all 0.3s ease;
    vertical-align: middle;
}

nav .container .navbar li:hover .rotate-arrow{
    transform: rotate(180deg);
}

nav .container .navbar .sub-menu{
    display: none;
    position: absolute;
    top: 60px;
    background-color: var(--footer-bg-color);
    line-height: 40px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

nav .container .navbar .sub-menu li{
    padding: 0 22px;
}

nav .container .navbar .sub-menu li a{
    display: flex;
}

nav .container .navbar .child:hover .js-sub-menu{
    display: block !important;
}

@media screen and (max-width: 1024px) {
    nav .container .navbar .sub-menu{
        position: relative;
        top: 0;
        box-shadow: none;
        /* display: none; */
    }

    nav .container .navbar li .arrow{
        margin-left: 1rem;
    }

    .has-child{
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        display: flex;
    }

    nav .container .navbar .child .sub-menu li a:hover{
        padding-left: 0rem;
    }

    nav .container .navbar .child .sub-menu li{
        border-bottom: none;
    }

    nav .container .navbar li:hover .rotate-arrow{
        transform: rotate(0deg);
    }

    nav .container .navbar .child:hover .js-sub-menu{
        display: none !important;
    }

    nav .container.show3 .navbar .js-sub-menu{
        display: block !important;
    }

    nav .container.show3 .navbar .js-arrow{
        transform: rotate(180deg);
    }
}








/* ######################## New Nav Dropdown ######################## */
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(220, 68%, 54%);
    --first-color-lighten: hsl(220, 68%, 97%);
    --title-color: hsl(220, 48%, 28%);
    --text-color: hsl(220, 12%, 45%);
    --body-color: hsl(220, 100%, 99%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /*========== Responsive typography==========*/
  @media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
  
  
  
  .nav__link{
    display: flex;
    justify-content: center;
  }
  
  .dropdown__item .nav__link div{
      display: flex;
      align-items: center;
  }
  
  .dropdown__item .nav__link div i{
      margin-left: 0.5rem;
      color: var(--text-color-sub);
  }
  
  .dropdown__group ul{
      gap: 0.6rem !important;
  }
  
  
  /*=============== DROPDOWN ===============*/
  .dropdown__button{
    cursor: pointer;
  }
  
  .dropdown__arrow{
    font-size: 1.5rem;
    font-weight: initial;
    transition: transform .4s;
  }
  
  .dropdown__content,
  .dropdown__group{
    display: grid;
  }
  
  .dropdown__list{
      display: flex;
      flex-direction: column;
  }
  
  .dropdown__container{
    /* background-color: var(--first-color-lighten); */
    height: 0;
    overflow: hidden;
    transition: heignt .4s;
  }
  
  .dropdown__content{
    row-gap: 1.75rem;
  }
  
  .dropdown__group{
    padding-left: 2.5rem;
    /* row-gap: .5rem; */
  }
  
  .dropdown__group:first-child{
    margin-top: 1.25rem;
  }
  
  /* .dropdown__group:last-child{
    margin-bottom: 1.25rem;
  } */
  
  .dropdown__list{
    row-gap: .25rem;
  }
  
  .dropdown__link{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    transition: color .3s;
  }
  
  .dropdown__link:hover{
    color: var(--title-color);
    padding-left: 0rem !important;
  }
  
  /* Rotate dropdown icon */
  .show-dropdown .dropdown__arrow{
    transform: rotate(180deg);
  }
  
  /* For large devices */
  @media screen and (min-width:1024px) {
    /* Dropdown */
    .dropdown__container{
      height: max-content;
      position: absolute;
      top: 30px !important;
      /* box-shadow: 0 6px 8px hsla(220, 68% 12% .05); */
      pointer-events: none;
      opacity: 0;
      transition: top .4s, opacity .3s;
    }
  
    .dropdown__content{
      column-gap: 6rem;
      margin-inline: auto;
    }
  
    .dropdown__group{
      padding: 2rem 1rem;
      align-content: baseline;
      row-gap: 1.2rem;
    }
  
    .dropdown__group:first-child,
    .dropdown__group:last-child{
      margin: 0;
    }
  
    .dropdown__list{
      row-gap: .75rem;
    }
    
    .dropdown__link{
      font-size: var(--small-font-size);
    }
  
    .dropdown__item{
      cursor: pointer;
    }
  
    /* Rotate dropdown icon */
    .dropdown__item:hover .dropdown__arrow{
      transform: rotate(180deg);
    }
  
    /* show drop */
    .dropdown__item:hover > .dropdown__container{
      top: 5.5rem;
      opacity: 1;
      pointer-events: initial;
      cursor: initial;
    }
  }








section.home .container {
    width: 100%;
}

section.home .home-page .container{
    display: grid;
    grid-template-columns: 47rem auto;
    align-items: center;
    /* max-height: 100%; */
    margin-top: 3.5rem;
}